<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="linkchecker"
		label="COM_LINKCHECKER_CONFIG_LABEL"
		description="COM_LINKCHECKER_CONFIG_DESC">
		
		<field
			name="token"
			type="textarea"
			rows="25"
			label="COM_LINKCHECKER_FIELD_TOKEN_LABEL"
			description="COM_LINKCHECKER_FIELD_TOKEN_DESC"
			default="">
		</field>

		<field
			name="max_fetchers"
			type="integer"
			label="COM_LINKCHECKER_FIELD_MAX_FETCHERS_LABEL"
			description="COM_LINKCHECKER_FIELD_MAX_FETCHERS_DESC"
			first="1"
			last="10"
			step="1"
			default="3"
		/>
	</fieldset>

	<fieldset
		name="linkchecker_login"
		label="COM_LINKCHECKER_CONFIG_LOGIN_LABEL"
		description="COM_LINKCHECKER_CONFIG_LOGIN_DESC">
		
		<field
			name="login_page_url"
			type="text"
			label="COM_LINKCHECKER_FIELD_LOGIN_PAGE_URL_LABEL"
			description="COM_LINKCHECKER_FIELD_LOGIN_PAGE_URL_DESC"
		/>
	
		<field
			name="login_form_selector"
			type="text"
			label="COM_LINKCHECKER_FIELD_LOGIN_FORM_SELECTOR_LABEL"
			description="COM_LINKCHECKER_FIELD_LOGIN_FORM_SELECTOR_DESC"
		/>

		<field
			name="login_data"
			type="text"
			label="COM_LINKCHECKER_FIELD_LOGIN_DATA_LABEL"
			description="COM_LINKCHECKER_FIELD_LOGIN_DATA_DESC"
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_linkchecker"
			section="component"
		/>
	</fieldset>
</config>
